<%- include('./partials/head.ejs') %> 
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/nav.ejs') %> 
        <div class="col-sm-10">
          <h1><%= title  %> </h1>
          <p>Welcome to <em>My Music Inventory App.</em> </p>
          <p>This Web Site is a very basic Node.js & Express website</p>

          <% if(data.err) {%>
						<p>Error getting<h1>
						<%} else{%>
							<p>This Web Site has the following record counts:</p>
							<ul>
								<li><strong>Songs:</strong><%=data.song_count%></li>
								<li><strong>Authors:</strong><%=data.author_count%></li>
								<li><strong>Categories:</strong><%=data.category_count%></li>
							</ul>
						<%}%>
        </div>
      </div>
    </div>

  <%- include('./partials/foot.ejs') %> 
